
<div class="govuk-width-container" id="dashboard-section">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">My apprenticeship</h1>
            <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Important
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        @Model.displayedApprenticeship.EmployerName has stopped your apprenticeship.
                    </p>
                    <div class="govuk-!-padding-bottom-2">
                        <p>
                            If you are continuing your apprenticeship with another employer or training provider, you will receive an email to confirm this.
                        </p>
                    </div>
                </div>
            </div>

            <h2 class="govuk-heading-m">@Model.displayedApprenticeship.CourseName</h2>

            <div class="govuk-!-padding-bottom-2">
                <table class="govuk-table data-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Employer</th>
                            <td class="govuk-table__cell">@Model.displayedApprenticeship.EmployerName</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Provider</th>
                            <td class="govuk-table__cell">@Model.displayedApprenticeship.TrainingProviderName</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Level</th>
                            <td class="govuk-table__cell">@Model.displayedApprenticeship.CourseLevel</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Estimated duration</th>
                            <td class="govuk-table__cell">@Model.displayedApprenticeship.CourseDuration month(s)<br /></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Planned start date</th>
                            <td class="govuk-table__cell">@Model.displayedApprenticeship.PlannedStartDate.ToString("MMMM yyyy")</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Date stopped</th>
                            <td class="govuk-table__cell">@Model.displayedApprenticeship.StoppedReceivedOn.ToString("MMMM yyyy")</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Status</th>
                            <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--inactive">Stopped</span> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
