@page "/apprenticeships/{apprenticeshipId}/confirmyouremployer"
@model SFA.DAS.ApprenticeCommitments.Web.Pages.Apprenticeships.ConfirmYourEmployerModel
@{
    ViewData["Title"] = "Confirm your employer";
}


<div class="govuk-width-container">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <partial name="ValidationSummary" />

            <h1 asp-hide="@Model.ConfirmedEmployer.HasValue" class="govuk-heading-xl">Confirm your employer</h1>

            <div asp-show="@Model.ConfirmedEmployer.HasValue" class="app-notification-banner app-notification-banner--with-icon app-notification-banner--success">
                <span class="app-notification-banner__icon das-text--success-icon"></span>
                You have confirmed your employer
            </div>

            <h2 class="govuk-heading-l">@Model.EmployerName</h2>

            <div class="govuk-body">
                <p>
                    This is the legal name. You might know them as something else.
                </p>
                <h3>Things you need to know</h3>
                <div class="govuk-inset-text">
                    <p class="govuk-body">Before starting your apprenticeship your employer should’ve given you</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>a copy of your apprenticeship agreement signed by them</li>
                        <li>the details for a day-to-day contact; someone to answer any questions you might have</li>
                    </ul>
                </div>
                <p>Your employer knows that they must let you spend <strong>at least 20% of your working hours</strong> with your training provider for off-the-job training.</p>
            </div>

            <form asp-hide="@Model.ConfirmedEmployer.HasValue" id="employer-form-hide" method="post">
                <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                Is this your employer?
                            </h1>
                        </legend>

                        <span asp-validation-for="ConfirmedEmployer" class="govuk-error-message"></span>

                        <div class="govuk-radios govuk-radios--inline">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="confirm-yes" name="ConfirmedEmployer" type="radio" value="true">
                                <label class="govuk-label govuk-radios__label" for="confirm-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="confirm-no" name="ConfirmedEmployer" type="radio" value="false">
                                <label class="govuk-label govuk-radios__label" for="confirm-no">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button class="govuk-button" data-module="govuk-button" id="employer-provider-confirm">Confirm</button>
                <input type="hidden" asp-for="CommitmentStatementId" value="@Model.CommitmentStatementId" />
                <input type="hidden" name="EmployerName" value="@Model.EmployerName" />
            </form>

            <form asp-show="@Model.ConfirmedEmployer.HasValue" action="@Model.Backlink">
                <button class="govuk-button">Continue</button>
            </form>
        </div>
    </div>
</div>