@page "/apprenticeships/{apprenticeshipid}/confirmyourtrainingprovider"
@using SFA.DAS.ApprenticeCommitments.Web.Services.OuterApi;
@model SFA.DAS.ApprenticeCommitments.Web.Pages.Apprenticeships.ConfirmYourTrainingModel
@{
    ViewData["Title"] = "Confirm your training provider";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <partial name="ValidationSummary" />

        <h1 class="govuk-heading-l">Confirm your training provider</h1>

        <notification-banner asp-hide="@Model.ShowForm">
            You have confirmed this is your training provider
        </notification-banner>

        <notification-banner asp-show="@Model.ChangingAnswer">
            You can now change your answer
        </notification-banner>

        <h2 class="govuk-heading-m">@Model.TrainingProviderName</h2>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Help if you do not recognise your training provider's name
                </span>
            </summary>
            <div class="govuk-details__text">
                @Model.TrainingProviderName is your training provider's legal name registered with Companies House.
                You may know them by their trading name instead.
            </div>
        </details>

        @if (!Model.DeliveryModel.Equals(DeliveryModel.FlexiJobAgency))
        {
            <p class="govuk-body">
                Your off-the-job training, as agreed in your training plan, will be delivered during your 
                normal working hours. You'll spend this time learning new knowledge, skills and 
                behaviours for your apprenticeship. Your training provider will manage your off-the-job training.
            </p>
        }

        @if (Model.DeliveryModel.Equals(DeliveryModel.FlexiJobAgency))
        {
            <p class="govuk-body">
                Your off-the-job training, as agreed in your training plan, will be delivered during your normal working hours. You'll spend this time learning new knowledge, skills and behaviours for your apprenticeship. Your training provider will manage your off-the-job training.
            </p>
        }

        <h3 class="govuk-heading-s">Things you need to know</h3>

        <div class="govuk-inset-text">
            <p class="govuk-body">Before starting your apprenticeship your training provider should have:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>told you if you'll have any training delivered by another training provider</li>
                <li>given you a day-to-day contact who will support you through your apprenticeship</li>
            </ul>
        </div>


        <form asp-show="@Model.ShowForm" method="post">
            <yes-no-wrapper property-name="Confirmed">
                <yes-no-header>Is @Model.TrainingProviderName your training provider?</yes-no-header>
                <span asp-validation-for="Confirmed" class="govuk-error-message"></span>
                <yes-no-inputs asp-for="Confirmed" yes-checked="@(Model.Confirmed == true)"></yes-no-inputs>
            </yes-no-wrapper>
            <button class="govuk-button" data-module="govuk-button" id="employer-provider-confirm">Confirm</button>
            <input type="hidden" asp-for="RevisionId" value="@Model.RevisionId" />
            <input type="hidden" name="TrainingProviderName" value="@Model.TrainingProviderName" />
        </form>

        <form asp-hide="@Model.ShowForm" action="@Model.Backlink">
            <button class="govuk-button">Continue</button>
        </form>

        <a class="govuk-link" asp-show="@Model.CanChangeAnswer" asp-page-handler="changeAnswer">I want to change my answer</a>
    </div>
</div>