@page "/apprenticeships/{apprenticeshipid}/confirmyourtrainingprovider"
@model SFA.DAS.ApprenticeCommitments.Web.Pages.Apprenticeships.ConfirmYourTrainingModel
@{
    ViewData["Title"] = "Confirm your training provider";
}

<div class="govuk-width-container">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-desktop">

            <partial name="ValidationSummary" />

            <h2 class="govuk-heading-xl">Confirm your training provider</h2>

            <div asp-show="@Model.ConfirmedTrainingProvider.HasValue" class="app-notification-banner app-notification-banner--with-icon app-notification-banner--success">
                <span class="app-notification-banner__icon das-text--success-icon"></span>
                You have confirmed this is your training provider
            </div>

            <h2 class="govuk-heading-l">@Model.TrainingProviderName</h2>

            <div class="govuk-body">
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Help if you do not recognise your training provider's name
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        @Model.TrainingProviderName is your training provider's legal name registered with Companies House.
                        You may know them by their trading name instead.
                    </div>
                </details>

                <p>
                    Your off-the-job training will be <strong>at least 20% of your normal working hours</strong> spent learning new knowledge,
                    skills and behaviours for your apprenticeship. Your off-the-job training will be managed by your training provider.
                </p>

                <h3>Things you need to know</h3>
                <div class="govuk-inset-text">
                    <p class="govuk-body">Before starting your apprenticeship your training provider should have:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>told you if you'll have any training delivered by another training provider</li>
                        <li>given you a day-to-day contact who will support you through your apprenticeship</li>
                    </ul>
                </div>
            </div>

            <form asp-hide="@Model.ConfirmedTrainingProvider.HasValue" id="training-provider-form-hide" method="post">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h2 class="govuk-fieldset__heading">
                                Is @Model.TrainingProviderName your training provider?
                            </h2>
                        </legend>

                        <span asp-validation-for="ConfirmedTrainingProvider" class="govuk-error-message"></span>

                        <div class="govuk-radios govuk-radios--inline">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" asp-for="ConfirmedTrainingProvider" id="confirm-yes" value="true" type="radio" />
                                <label class="govuk-label govuk-radios__label" for="confirm-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" asp-for="ConfirmedTrainingProvider" id="confirm-no" value="false" type="radio" />
                                <label class="govuk-label govuk-radios__label" for="confirm-no">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <input type="hidden" asp-for="CommitmentStatementId" value="@Model.CommitmentStatementId" />
                <input type="hidden" asp-for="TrainingProviderName" value="@Model.TrainingProviderName" />
                <button class="govuk-button" data-module="govuk-button" id="training-provider-confirm">Confirm</button>
            </form>

            <form asp-show="@Model.ConfirmedTrainingProvider.HasValue" action="@Model.Backlink">
                <button class="govuk-button">Continue</button>
            </form>
        </div>
    </div>
</div>