@page "/apprenticeships/{apprenticeshipId}/yourapprenticeshipdetails"
@model SFA.DAS.ApprenticeCommitments.Web.Pages.Apprenticeships.YourApprenticeshipDetails
@{
    ViewData["Title"] = "Confirm the details of your apprenticeship";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <partial name="ValidationSummary" />

        <h1 class="govuk-heading-l">@ViewData["Title"] </h1>

        <notification-banner asp-hide="@Model.ShowForm">
            You have confirmed these are the details of your apprenticeship
        </notification-banner>

        <notification-banner asp-show="@Model.ChangingAnswer">
            You can now change your answer
        </notification-banner>

        <p>
            These are the details that your employer and training provider have agreed with you and have given to us.
        </p>

        <p>
            <strong>It's important to check these details</strong> because you’ll be assessed on the knowledge, skills and behaviours you will have learnt on your apprenticeship.
        </p>

        <table class="govuk-table data-table">
            <caption></caption>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Apprenticeship</th>
                    <td class="govuk-table__cell">@Model.CourseName</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Level</th>
                    <td class="govuk-table__cell">@Model.CourseLevel</td>
                </tr>
                <tr asp-show="Model.CourseOption != null" class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Option</th>
                    <td class="govuk-table__cell">@Model.CourseOption</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Planned start date for training</th>
                    <td class="govuk-table__cell">@Model.PlannedStartDate.ToString("MMMM yyyy")</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Estimated duration</th>
                    <td class="govuk-table__cell">@Model.CourseDuration months</td>
                </tr>
            </tbody>
        </table>

        <h2 class="govuk-heading-m">
            Things you need to know
        </h2>

        <p>
            Your planned training start date and estimated duration should:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>include the time you will spend in off-the-job training</li>
            <li>not include when your end point assessment will take place</li>
        </ul>

        <div class="govuk-inset-text">
            The estimated duration of your apprenticeship may change during your apprenticeship after discussions with your employer and training provider.
        </div>

        <form asp-show="@Model.ShowForm" method="post">
            <yes-no-wrapper property-name="Confirmed">
                <yes-no-header>
                    Are your apprenticeship details correct?
                </yes-no-header>
                <span asp-validation-for="Confirmed" class="govuk-error-message"></span>
                <yes-no-inputs asp-for="Confirmed"></yes-no-inputs>
            </yes-no-wrapper>
            <button class="govuk-button" data-module="govuk-button" id="employer-provider-confirm">Confirm</button>
            <input type="hidden" asp-for="RevisionId" value="@Model.RevisionId" />
            <input type="hidden" name="CourseName" value="@Model.CourseName" />
            <input type="hidden" name="CourseLevel" value="@Model.CourseLevel" />
            <input type="hidden" name="CourseOption" value="@Model.CourseOption" />
            <input type="hidden" name="CourseDuration" value="@Model.CourseDuration" />
            <input type="hidden" name="PlannedStartDate" value="@Model.PlannedStartDate" />
            <input type="hidden" name="PlannedEndDate" value="@Model.PlannedEndDate" />
        </form>

        <form asp-hide="@Model.ShowForm" action="@Model.Backlink">
            <button class="govuk-button">Continue</button>
        </form>

        <a class="govuk-link" asp-show="@Model.CanChangeAnswer" asp-page-handler="changeAnswer">I want to change my answer</a>
   
    </div>
</div>