@page "/apprenticeships/{apprenticeshipid}/confirmyourtrainingprovider"
@model SFA.DAS.ApprenticeCommitments.Web.Pages.Apprenticeships.ConfirmYourTrainingModel
@{
    ViewData["Title"] = "Confirm your training provider";
}

<div class="govuk-width-container">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <partial name="ValidationSummary" />

            <h1 asp-hide="@Model.ConfirmedTrainingProvider.HasValue" class="govuk-heading-xl">Confirm your training provider</h1>

            <div asp-show="@Model.ConfirmedTrainingProvider.HasValue" class="app-notification-banner app-notification-banner--with-icon app-notification-banner--success">
                <span class="app-notification-banner__icon das-text--success-icon"></span>
                You have confirmed your training provider
            </div>

            <h2 class="govuk-heading-l">@Model.TrainingProviderName</h2>

            <div class="govuk-body">
                <p>
                    This is the legal name. You might know them as something else.
                </p>
                <div class="govuk-inset-text">
                    <p class="govuk-body">Before starting your apprenticeship you should:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>know if your training provider is working with other training providers on your apprenticeship</li>
                        <li>have a named day-to-day contact to answer your questions</li>
                    </ul>
                </div>
            </div>

            <form asp-hide="@Model.ConfirmedTrainingProvider.HasValue" id="training-provider-form-hide" method="post" action="">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                Is this your training provider?
                            </h1>
                        </legend>

                        <span asp-validation-for="ConfirmedTrainingProvider" class="govuk-error-message"></span>

                        <div class="govuk-radios govuk-radios--inline">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" asp-for="ConfirmedTrainingProvider" id="confirm-yes" value="true" type="radio" />
                                <label class="govuk-label govuk-radios__label" for="confirm-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" asp-for="ConfirmedTrainingProvider" id="confirm-no" value="false" type="radio" />
                                <label class="govuk-label govuk-radios__label" for="confirm-no">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <input type="hidden" asp-for="CommitmentStatementId" value="@Model.CommitmentStatementId" />
                <input type="hidden" asp-for="TrainingProviderName" value="@Model.TrainingProviderName" />
                <button class="govuk-button" data-module="govuk-button" id="training-provider-confirm">Confirm</button>
            </form>

            <form asp-show="@Model.ConfirmedTrainingProvider.HasValue" action="@Model.Backlink">
                <button class="govuk-button">Continue</button>
            </form>
        </div>
    </div>
</div>