@page "/apprenticeships/{apprenticeshipId}/confirmyouremployer"
@model SFA.DAS.ApprenticeCommitments.Web.Pages.Apprenticeships.ConfirmYourEmployerModel
@{ }

<div class="govuk-width-container">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <a href="@Model.Backlink" class="govuk-back-link" style="margin-bottom: 48px">Back</a>

            <partial name="ValidationSummary" />

            <h1 class="govuk-heading-xl">Confirm your employer</h1>

            <h2 class="govuk-heading-l">@Model.EmployerName</h2>

            <div class="govuk-body">
                <p>
                    This is the legal name. You might know them as something else.
                </p>
                <div class="govuk-inset-text">
                    <p class="govuk-body">Before starting your apprenticeship you should:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>have a copy of your signed apprenticeship agreement </li>
                        <li>have a named day-to-day contact to answer your questions</li>
                    </ul>
                </div>
            </div>

            <form id="employer-form-hide" method="post" action="">
                <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                Is this your employer?
                            </h1>
                        </legend>

                        @if (ViewData.ModelState.ContainsKey(nameof(Model.EmployerConfirm)) && ViewData.ModelState[nameof(Model.EmployerConfirm)].Errors.Any())
                        {
                            <span class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.EmployerConfirm)].Errors.First().ErrorMessage
                            </span>
                        }

                        <div class="govuk-radios govuk-radios--inline">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="EmployerConfirm" name="EmployerConfirm" type="radio" value="true">
                                <label class="govuk-label govuk-radios__label" for="EmployerConfirm">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="EmployerConfirm-2" name="EmployerConfirm" type="radio" value="false">
                                <label class="govuk-label govuk-radios__label" for="EmployerConfirm-2">
                                    No
                                </label>
                            </div>
                        </div>

                    </fieldset>
                </div>
                <button class="govuk-button" data-module="govuk-button" id="employer-provider-confirm">Confirm</button>
                <input type="hidden" name="EmployerName" value="@Model.EmployerName" />
            </form>
        </div>
    </div>
</div>

