@page "/apprenticeships/{apprenticeshipId}"
@model SFA.DAS.ApprenticeCommitments.Web.Pages.Apprenticeships.ConfirmApprenticeshipModel
@using SFA.DAS.ApprenticePortal.SharedUi.Menu
@{
    ViewData["Title"] = "Confirm my apprenticeship details";
}

<div asp-show="@Model.Status == ConfirmStatus.SectionsIncomplete">
    <h2 class="govuk-heading-l">Confirm my apprenticeship details</h2>

    <p>Read through each section below to confirm your apprenticeship. If you ever need to check on the details of your apprenticeship, you can come back here.</p>

    <div asp-show="!@Model.DisplayChangeNotification" class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            <span asp-hide="@Model.Overdue">
                You have @Model.Pluralise(@Model.DaysRemaining, "day") to confirm your apprenticeship
            </span>
            <span asp-show="@Model.Overdue">
                You must confirm your apprenticeship. Your confirmation is overdue and your employer and provider have been informed.
            </span>
        </strong>
    </div>
    <div asp-show="@Model.DisplayChangeNotification" class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
                Changes have been made to your apprenticeship.  Please review and confirm your new details.
            </p>
            <p class="govuk-notification-banner__heading">
                <span asp-hide="@Model.Overdue">
                    You have @Model.Pluralise(@Model.DaysRemaining, "day") to confirm your apprenticeship
                </span>
                <span asp-show="@Model.Overdue">
                    You must confirm your apprenticeship. Your confirmation is overdue and your employer and provider have been informed.
                </span>
            </p>
        </div>
    </div>

    <p>Your answers will save automatically, so you can leave and come back if you need to.</p>

</div>

<div asp-show="@Model.Status == ConfirmStatus.SectionsComplete" class="govuk-!-margin-bottom-5">
    <h2 class="govuk-heading-m">Confirm my apprenticeship details</h2>

    <div class="app-notification-banner app-notification-banner--success">
        <div class="app-notification-banner--icon-content-wrap">
            <span class="app-notification-banner__icon das-text--success-icon"></span>
            Your apprenticeship is now ready for you to check confirm
        </div>
        <form asp-page-handler="confirm" method="post">
            <input type="hidden" asp-for="CommitmentStatementId" value="@Model.CommitmentStatementId" />
            <button class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-0">Confirm your apprenticeship</button>
        </form>
    </div>
</div>

<div asp-show="@Model.Status == ConfirmStatus.ApprenticeshipComplete" class="govuk-!-margin-bottom-5">
    <h2 class="govuk-heading-m">Your apprenticeship details</h2>
    <div class="app-notification-banner app-notification-banner--success">
        <div class="app-notification-banner--icon-content-wrap">
            <span class="app-notification-banner__icon das-text--success-icon"></span>
            You have completed the confirmation of your apprenticeship.  Your employer and training provider will contact you shortly.
        </div>
    </div>
</div>


<ol class="govuk-list app-status-list">
    <li confirmation-section asp-page="ConfirmYourEmployer" model="Model">
        Your employer
    </li>
    <li confirmation-section asp-page="ConfirmYourTrainingProvider" model="Model">
        Your training provider
    </li>
    <li confirmation-section asp-page="YourApprenticeshipDetails" model="Model">
        Your Apprenticeship Details
    </li>
    <li confirmation-section asp-page="HowYourApprenticeshipWillBeDelivered" model="Model">
        How your apprenticeship will be delivered
    </li>
    <li confirmation-section asp-page="RolesAndResponsibilities" model="Model">
        Roles and responsibilities
    </li>
</ol>

<div class="govuk-heading-m">
    <h2 class="govuk-heading-m">Help and Support</h2>
    <p>If you need help and support or have any questions, answers and guidance can be found in the <a asp-external-section="@NavigationSection.Home" asp-external-page="HelpAndSupport" class="govuk-link" >help and support section</a></p>
</div>