@page "/apprenticeships/{apprenticeshipId}/howyourapprenticeshipwillbedelivered"
@using SFA.DAS.ApprenticeCommitments.Web.Helpers
@model SFA.DAS.ApprenticeCommitments.Web.Pages.Apprenticeships.HowYourApprenticeshipWillBeDeliveredModel
@{
    ViewData["Title"] = "How your apprenticeship will be delivered";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <partial name="ValidationSummary" />

        <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

        <div asp-show="@Model.ConfirmedHowApprenticeshipDelivered.HasValue" class="app-notification-banner app-notification-banner--with-icon app-notification-banner--success">
            <span class="app-notification-banner__icon das-text--success-icon"></span>
            You have read through how your apprenticeship will be delivered
        </div>

        <p>Your @Model.DeliveryModel.AbnormalDisplayName()?.ToLower() apprenticeship will be delivered in two parts:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>a training period <x asp-irregular-delivery="@Model">when you will move between different jobs</x></li>
            <li>an end-point assessment</li>
        </ul>

        <h2 class="govuk-heading-m">Your training period</h2>

        <p>
            <strong>Your employer<x asp-irregular-delivery="@Model">s</x></strong> will give you hands-on experience in your chosen
            occupation. They'll provide you with training and supervision to help you develop
            the skills you need to perform the role you've been employed to do.
        </p>

        <p asp-irregular-delivery="@Model">
            <strong>Each individual employer</strong> will help you develop some of the skills required for your apprenticeship. 
            When a job ends, you’ll need to find a new job to develop more of the required skills.
        </p>

        <p>
            <strong>Your training provider</strong> is responsible for your off-the-job
            training. Your off-the-job training will be at least
            <strong>20% of your normal working hours</strong> spent learning new knowledge,
            skills and behaviours for your apprenticeship. Your off-the-job training will be
            managed by your training provider.
        </p>

        <p>
            <strong>Your training plan</strong> is agreed between you and your training provider<x asp-irregular-delivery="@Model">, 
            with input from your employers at the start of each job</x>.
            The plan will set out a training schedule for your off-the-job training. Your
            training plan will include:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the delivery of the knowledge skills and behaviours required for your apprenticeship</li>
            <li>how and when your off-the-job training will be delivered</li>
            <li>English and maths qualifications, if you have not already achieved these</li>
            <li>regular progress reviews with your employer and training provider</li>
        </ul>

        <h2 class="govuk-heading-m">Your end-point assessment</h2>
        <p>
            You'll be assessed by an independent end-point assessor on the knowledge, skills
            and behaviours that you've learnt during your apprenticeship to confirm you're
            occupationally competent.
        </p>

        <p>
            You will agree when you're ready for your end-point assessment in your progress
            reviews with your employer and training provider.
        </p>

        <p>
            Your employer and training provider will tell you what to expect and when the
            assessment will take place.
        </p>


        <form asp-hide="@Model.ConfirmedHowApprenticeshipDelivered.HasValue" id="apprenticeship-delivered-form-hide" method="post">
            <input type="hidden" asp-for="ConfirmedHowApprenticeshipDelivered" value="true" />
            <input type="hidden" asp-for="RevisionId" value="@Model.RevisionId" />
            <button class="govuk-button" data-module="govuk-button" id="apprentice-delivered-confirm">Continue</button>
        </form>

        <form asp-show="@Model.ConfirmedHowApprenticeshipDelivered.HasValue" action="@Model.Backlink">
            <button class="govuk-button">Continue</button>
        </form>

    </div>
</div>