@page "/apprenticeships/{apprenticeshipId}/howyourapprenticeshipwillbedelivered"
@using SFA.DAS.ApprenticeCommitments.Web.Helpers
@using SFA.DAS.ApprenticeCommitments.Web.Services.OuterApi;
@model SFA.DAS.ApprenticeCommitments.Web.Pages.Apprenticeships.HowYourApprenticeshipWillBeDeliveredModel
@{
    ViewData["Title"] = "How your apprenticeship will be delivered";
    var showContinueButton = Model.ConfirmedHowApprenticeshipDelivered.HasValue && !Model.ExplicitRevision;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <partial name="ValidationSummary" />

        <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

        <div asp-show="@Model.ConfirmedHowApprenticeshipDelivered.HasValue" class="app-notification-banner app-notification-banner--with-icon app-notification-banner--success">
            <span class="app-notification-banner__icon das-text--success-icon"></span>
            You have read through how your apprenticeship will be delivered
        </div>

        <p>Your apprenticeship includes:</p>

        @if (Model.DeliveryModel.Equals(DeliveryModel.Regular))
        {
            <ul class="govuk-list govuk-list--bullet">
                <li>training</li>
                <li>assessment</li>
            </ul>

            <h2 class="govuk-heading-m">Training</h2>

            <p>
                <strong>Your employer</strong> will give you hands-on experience in your chosen occupation. They’ll provide you with training and supervision to help you develop the skills you need to perform the role you’ve been employed to do.
            </p>

            <p>
                <strong>Your training provider</strong> is responsible for your off-the-job training.
                Your off-the-job training will be at least 20% of your normal working hours spent learning new skills, knowledge and behaviours for your apprenticeship. Your off-the-job training will be managed by your training provider.
            </p>

            <p>
                <strong>Your training plan</strong> is agreed between you, your training provider and your employer. You should also agree any parts of the training that you are already competent in. The plan will set out a training schedule for your off-the-job training. Your training plan will include:
            </p>
        }

        @if (Model.DeliveryModel.Equals(DeliveryModel.PortableFlexiJob))
        {
            <ul class="govuk-list govuk-list--bullet">
                <li>training where you'll move between different jobs</li>
                <li>assessment</li>
            </ul>

            <h2 class="govuk-heading-m">Training</h2>

            <p>
                <strong>Your employers</strong> will give you hands-on experience in your chosen occupation. They'll provide you with training and supervision to help you develop the skills you need to perform the role you've been employed to do.
            </p>

            <p>
                <strong>Each individual employer</strong> will help you develop some of the skills required for your apprenticeship. When a job ends, you'll need to find a new job to develop more of the required skills.
            </p>

            <p>
                <strong>Your training provider</strong> is responsible for your off-the-job training. Your off-the-job training will be at least 20% of your normal working hours spent learning new skills, knowledge and behaviours for your apprenticeship. Your off-the-job training will be managed by your training provider.
            </p>

            <p>
                <strong>Your training plan</strong> is agreed between you, your training provider and your employer. You should also agree any parts of the training that you are already competent in. The plan will set out a training schedule for your off-the-job training. Your training plan will include:
            </p>
        }

        @if (Model.DeliveryModel.Equals(DeliveryModel.FlexiJobAgency))
        {
            <ul class="govuk-list govuk-list--bullet">
                <li>training where you'll move between different placements</li>
                <li>assessment</li>
            </ul>

            <h2 class="govuk-heading-m">Your training period</h2>

            <p>
                <strong>Your employer</strong> will arrange placements where you will gain hands-on experience in your chosen occupation.
            </p>

            <p>
                <strong>Each placement</strong> will help you develop some of the skills required for your apprenticeship.
            </p>

            <p>
                <strong>Your training provider</strong> is responsible for your off-the-job training. Your off-the-job training will be at least 20% of your normal working hours spent learning new skills, knowledge and behaviours for your apprenticeship. Your off-the-job training will be managed by your training provider.
            </p>

            <p>
                <strong>Your training plan</strong> is agreed between you, your training provider and your employer. You should also agree any parts of the training that you are already competent in. The plan will set out a training schedule for your off-the-job training. Your training plan will include:
            </p>
        }


        <ul class="govuk-list govuk-list--bullet">
            <li>the delivery of the knowledge, skills and behaviours required for your apprenticeship</li>
            <li>how your off-the-job training will be delivered. For example, you may do your off-the job training for two hours per day or one day per week</li>
            <li>any parts of the training which you will not need to complete due to prior learning</li>
            <li>regular progress reviews with your employer and training provider</li>
        </ul>


        <h2 class="govuk-heading-m">Assessment</h2>
        <p>
            You'll agree when you’re ready to be assessed in your progress reviews with your employer and training provider.
        </p>

        @if (Model.DeliveryModel.Equals(DeliveryModel.Regular) || Model.DeliveryModel.Equals(DeliveryModel.FlexiJobAgency))
        {
            <p>
                Your employer and training provider will tell you what to expect and when the assessment will take place.
            </p>            
        }

        @if (Model.DeliveryModel.Equals(DeliveryModel.PortableFlexiJob))
        {
            <p>
                Your employers and training provider will tell you what to expect and when the assessment will take place.
            </p>
        }

        <p>
            You’ll be assessed by an independent assessment organisation on the knowledge, skills and behaviours that you’ve learnt during your apprenticeship to confirm you’re occupationally competent.
        </p>

        <form asp-hide="@Model.ConfirmedHowApprenticeshipDelivered.HasValue" id="apprenticeship-delivered-form-hide" method="post">
            <input type="hidden" asp-for="ConfirmedHowApprenticeshipDelivered" value="true" />
            <input type="hidden" asp-for="RevisionId" value="@Model.RevisionId" />
            <button class="govuk-button" data-module="govuk-button" id="apprentice-delivered-confirm">Continue</button>
        </form>

        <form asp-show="@showContinueButton" action="@Model.Backlink">
            <button class="govuk-button">Continue</button>
        </form>

    </div>
</div>
