@page "/apprenticeships/{apprenticeshipId}/yourapprenticeshipdetails"
@model SFA.DAS.ApprenticeCommitments.Web.Pages.Apprenticeships.YourApprenticeshipDetails
@{
    ViewData["Title"] = "Your Apprenticeship Details";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <partial name="ValidationSummary" />

        <h1 asp-hide="@Model.ConfirmedApprenticeshipDetails.HasValue" class="govuk-heading-xl">@ViewData["Title"] </h1>

        <div asp-show="@Model.ConfirmedApprenticeshipDetails.HasValue" class="app-notification-banner app-notification-banner--with-icon app-notification-banner--success">
            <span class="app-notification-banner__icon das-text--success-icon"></span>
            You have confirmed your apprenticeship details
        </div>

        <div class="govuk-body">

            <table class="govuk-table data-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Apprenticeship</th>
                        <td class="govuk-table__cell">@Model.CourseName</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Level</th>
                        <td class="govuk-table__cell">@Model.CourseLevel</td>
                    </tr>
                    <tr asp-show="Model.CourseOption != null" class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Option</th>
                        <td class="govuk-table__cell">@Model.CourseOption</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Duration</th>
                        <td class="govuk-table__cell">@Model.DurationInMonths months</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Planned start date</th>
                        <td class="govuk-table__cell">@Model.PlannedStartDate.ToString("MMMM yyyy")</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Planned end date</th>
                        <td class="govuk-table__cell">@Model.PlannedEndDate.ToString("MMMM yyyy")</td>
                    </tr>
                </tbody>
            </table>

            <form asp-hide="@Model.ConfirmedApprenticeshipDetails.HasValue" id="apprenticeship-details-form-hide" method="post" action="">
                <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")"
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                Are these details correct?
                            </h1>
                        </legend>

                        <span asp-validation-for="ConfirmedApprenticeshipDetails" class="govuk-error-message"></span>

                        <div class="govuk-radios govuk-radios--inline">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" asp-for="ConfirmedApprenticeshipDetails" id="confirm-yes" value="true" type="radio" />
                                <label class="govuk-label govuk-radios__label" for="confirm-yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" asp-for="ConfirmedApprenticeshipDetails" id="confirm-no" value="false" type="radio" />
                                <label class="govuk-label govuk-radios__label" for="confirm-no">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button class="govuk-button" data-module="govuk-button" id="apprenticeship-details-confirm">Confirm</button>
                <input type="hidden" name="CourseName" value="@Model.CourseName" />
                <input type="hidden" name="CourseLevel" value="@Model.CourseLevel" />
                <input type="hidden" name="CourseOption" value="@Model.CourseOption" />
                <input type="hidden" name="DurationInMonths" value="@Model.DurationInMonths" />
                <input type="hidden" name="PlannedStartDate" value="@Model.PlannedStartDate" />
                <input type="hidden" name="PlannedEndDate" value="@Model.PlannedEndDate" />
            </form>

            <form asp-show="@Model.ConfirmedApprenticeshipDetails.HasValue" action="@Model.Backlink">
                <button class="govuk-button">Continue</button>
            </form>
        </div>
    </div>
</div>