@page "/account"
@model SFA.DAS.ApprenticeCommitments.Web.Pages.AccountModel
@{
    ViewData["Title"] = Model.IsCreating ? "Create My apprenticeship account" : "Change your personal details";

    var ctaName = Model.IsCreating ? "Continue" : "Save and update";

    bool IsInvalid(string propertyName) =>
        ViewData.ModelState[propertyName]?.ValidationState ==
        Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid;

    string FormGroupValidationClass(string propertyName)
        => IsInvalid(propertyName) ? "govuk-form-group--error" : "";
}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

            @if (Model.IsCreating)
            {
                <p>
                    Enter your name and date of birth to complete the set-up of your account. You can then confirm your apprenticeship details.
                </p>
            }
            else
            {
                <p>
                    You can update your personal details. If your personal details are incorrect, 
                    we won't be able to display your apprenticeship details to you.
                </p>
            }

            <partial name="ValidationSummaryPersonalDetails" />

            <h2 class="govuk-heading-m">Account details</h2>

            <form method="post" class="check-answers-page" id="identity-assurance" asp-page-handler="@Model.FormHandler">

                <div id="FirstNameFieldRow" class="govuk-form-group @FormGroupValidationClass("FirstName")">
                    <label class="govuk-label govuk-label--s" asp-for="FirstName">First name</label>
                    <span asp-validation-for="FirstName" class="govuk-error-message"></span>
                    <input class="govuk-input govuk-input--width-20" asp-for="FirstName">
                </div>

                <div id="LastNameFieldRow" class="govuk-form-group @FormGroupValidationClass("Lastname")">
                    <label class="govuk-label govuk-label--s" asp-for="LastName">Last name</label>
                    <span asp-validation-for="LastName" class="govuk-error-message"></span>
                    <input class="govuk-input govuk-input--width-20" asp-for="LastName">
                </div>

                <div id="DateOfBirth" class="govuk-form-group @FormGroupValidationClass("DateOfBirth")">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="date-of-birth-hint date-of-birth-error">
                        <label class="govuk-label govuk-label--s" asp-for="DateOfBirth">
                            Date of birth
                        </label>
                        <div id="date-of-birth-hint" class="govuk-hint">
                            For example, 12 11 2007
                        </div>
                        <span asp-validation-for="DateOfBirth" class="govuk-error-message"></span>
                        <div class="govuk-date-input" id="date-of-birth">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-label govuk-date-input__label" asp-for="DateOfBirth.Day">Day</label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2 length-limit" asp-for="DateOfBirth.Day" type="text" autocomplete="bday-day" pattern="[0-9]*" inputmode="numeric" maxlength="2" min="1" max="31">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-label govuk-date-input__label" asp-for="DateOfBirth.Month">Month</label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2 length-limit" asp-for="DateOfBirth.Month" type="text" autocomplete="bday-month" pattern="[0-9]*" inputmode="numeric" maxlength="2" min="1" max="12">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-label govuk-date-input__label" asp-for="DateOfBirth.Year">Year</label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4 length-limit" asp-for="DateOfBirth.Year" type="text" autocomplete="bday-year" pattern="[0-9]*" inputmode="numeric" maxlength="4" min="1900" max="9999">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <button class="govuk-button" data-module="govuk-button" id="identity-assurance-btn">@ctaName</button>
            </form>
        </div>
    </div>
